*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body{
  
}


.flexRowCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/bg.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container * {
    filter: none;
}

.container .name{
    height: 3em;
}

.container .name h2{
    cursor: pointer;
}

.squizze {
    color: white;
    animation: effect_squizze 0.2s;
}

@keyframes effect_squizze {
    50% {
        transform: translate(-5px, 0px);

    }

    100% {
        transform: translate(10px, 0px);
    }
}

.container .text-message {
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow-y: scroll;
}

/* Hide the scroll bar, but keep it functional */
.text-message {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  /* For WebKit-based browsers (Chrome, Safari) */
  .text-message::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  
  .text-message::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .text-message::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* For Firefox */
  .text-message {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  .text-message::-moz-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  
  .text-message::-moz-scrollbar-thumb {
    background-color: transparent;
  }
  
  .text-message::-moz-scrollbar-track {
    background-color: transparent;
  }
  
.message-container{
    display: flex;
    gap: 10px;
    width: fit-content;
    padding: 10px 1em;
    border-radius: 15px;
    cursor: pointer;

}

.left-message, .right-message {
}

.container .left-message {
    display: flex;
    justify-content: flex-start;
    
}

.container .left-message .message-container{
    background: rgb(234, 255, 0);
}

.container .right-message{
    display: flex;
    justify-content: flex-end;
}

.container .right-message .message-container{
    background: rgb(0, 255, 255);
}

.container .text-input-container {
    background: rgb(43 43 43);
    justify-content: space-between;
    padding: 0 1em;
    height: 4em;
}

.text-input-container input{
    outline: none;
    border: none;
    border-radius: 15px;
    height: 2em;
    width: 60%;
    padding: 0 10px;
}


.text-input-container span {
    font-size: xx-large;
    color: cornflowerblue;
}